target
*.log
*.log.*
**/*.mtj
**/*.classpath
**/*.project
./taret
./target
./target/classes
target/**
*.settings
.metadata
build.sh
.springBeans
nbactions.xml
./bin
./mtj.tmp
./processed
./build
./dist